.todo-nav {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 5em; }
  .todo-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.todo-nav-item {
  margin-left: 10px; }

@media screen and (min-width: 451px) {
  .todo-nav-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px; } }

@media screen and (max-width: 450px) {
  .todo-nav {
    padding-left: 0; }
  .todo-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .todo-nav-item {
    text-align: center;
    margin-top: 10px; } }

.todo-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 4em; }
  .todo-list li {
    padding: 1em;
    border: 1px solid brown;
    border-radius: 5px;
    margin-top: 5px; }

@-webkit-keyframes showDay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showDay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.days-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  padding: 2em 1em;
  margin-top: 20px;
  background: #699cef;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  -webkit-animation-name: showDay;
  animation-name: showDay;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }
  .todo:hover {
    cursor: pointer;
    background: #5588db; }

.rotate {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg); }
