.todo-nav {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 5em; }
  .todo-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.todo-nav-item {
  margin-left: 10px; }

@media screen and (min-width: 451px) {
  .todo-nav-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px; } }

@media screen and (max-width: 450px) {
  .todo-nav {
    padding-left: 0; }
  .todo-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .todo-nav-item {
    text-align: center;
    margin-top: 10px; } }

@-webkit-keyframes showDay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showDay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.days-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto; }

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px; }
