.todo-nav {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 5em; }
  .todo-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.todo-nav-item {
  margin-left: 10px; }

@media screen and (min-width: 451px) {
  .todo-nav-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px; } }

@media screen and (max-width: 450px) {
  .todo-nav {
    padding-left: 0; }
  .todo-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .todo-nav-item {
    text-align: center;
    margin-top: 10px; } }

@-webkit-keyframes showDay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showDay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.days-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto; }

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  color: #f3f3f3;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  cursor: pointer; }
  .day:hover {
    -webkit-transform: scale(1.009);
    -ms-transform: scale(1.009);
    transform: scale(1.009);
    -webkit-box-shadow: 2px 2px 5px 2px #888888;
    box-shadow: 2px 2px 5px 2px #888888; }
  .day h3 {
    font-weight: 400;
    font-size: 23px; }

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .toggle ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3em 2em; }

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 5px; }

.form-days {
  width: 50%;
  padding: 5em 2em;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.untoggle {
  display: none;
  padding-left: 10%; }

.month-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .month-wrapper h3 {
    text-align: center; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  height: 100%; }

.head {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #699cef;
  color: white;
  margin-top: 20px; }

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cell:hover {
    background: #f3f3f3;
    cursor: pointer; }
  .cell textarea {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2); }

.cross:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.plus {
  text-align: center;
  padding: 20px; }
