.todo-nav {
  width: 100%;
  margin-top: 50px; }
  .todo-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.todo-nav-item {
  margin-left: 10px; }

@media screen and (min-width: 451px) {
  .todo-nav-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px; } }

@media screen and (max-width: 450px) {
  .todo-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .todo-nav-item {
    text-align: center;
    margin-top: 10px; } }
