form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 6em; }
  form div {
    width: 70%;
    padding-left: 10%; }
  form input {
    width: 60%;
    margin-left: 50px;
    margin-top: 1em; }
  form button {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em; }

@media screen and (max-width: 1000px) {
  label {
    width: 100% !important;
    display: block;
    text-align: center;
    margin-top: 1em; }
  input {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 1px !important; } }
