.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.box {
  margin: 2em; }
  .box div {
    margin-left: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0.75em 0.5em; }

h2 {
  margin-left: 1em; }

@media screen and (max-width: 468px) {
  .logo {
    width: 100%;
    text-align: center; }
  .box {
    width: 100%;
    text-align: center; }
  h2 {
    margin: 0;
    margin-top: 1em; } }
