.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .nav label {
    text-align: center; }
  .nav button {
    text-align: center !important;
    min-width: 110px; }

input {
  border: 1px solid rgba(78, 78, 78, 0.5) !important; }

.box {
  margin: 2em; }
  .box div {
    margin-left: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0.75em 0.5em; }

h2 {
  margin-left: 1em; }

@media screen and (max-width: 468px) {
  .logo {
    width: 100%;
    text-align: center; }
  .box {
    width: 100%;
    text-align: center; }
  h2 {
    margin: 0;
    margin-top: 1em; } }

.dark {
  position: absolute;
  width: 100%;
  height: 100%; }

.login-form {
  display: none !important;
  position: fixed;
  -webkit-box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
  z-index: 3;
  background: white;
  top: 20vh;
  width: 80%;
  min-width: 400px;
  max-width: 464px;
  background: #f6f7f8;
  margin: 0 !important; }
  .login-form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .login-form form {
    width: 85% !important; }
  .login-form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em; }

.visibility-logining {
  display: block !important;
  -webkit-animation: loginFormOn 200ms;
  animation: loginFormOn 200ms;
  border-radius: 5px; }

@-webkit-keyframes loginFormOn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes loginFormOn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

label {
  width: 150px;
  height: 20px; }

#g:hover {
  cursor: pointer; }
