.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 !important; }

.box {
  margin: 0.75em; }
  .box div {
    margin-left: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0.5em 0.5em; }

@font-face {
  font-family: 'logo';
  src: url("../assets/cleanvertising/Cleanvertising.ttf"); }

h2 {
  font-family: 'logo' !important;
  margin-left: 0.75em; }
