.nav {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.box div {
  margin-left: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
