@import "variables";

.todo-nav {
    width: 100%;
    margin-top: 50px;
    ul {
        display: flex;
        justify-content: flex-start;
    }
}

.todo-nav-item {
    margin-left: 10px;
}
@media screen and (min-width: 451px){
    .todo-nav-item {
        border: $border-nav;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 450px) {
    .todo-nav ul{
        flex-direction: column;
    }
    .todo-nav-item {
        text-align: center;
        margin-top: 10px;
    }
}

