@import "variables";

.todo-nav {
    width: 100%;
    margin-bottom: 50px;
    padding-left: 5em;
    ul {
        display: flex;
        justify-content: flex-start;
    }
}

.todo-nav-item {
    margin-left: 10px;
}
@media screen and (min-width: 451px){
    
    .todo-nav-item {
        border: $border-nav;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 450px) {
    .todo-nav {
        padding-left: 0;
    }
    .todo-nav ul{
        flex-direction: column;
    }
    .todo-nav-item {
        text-align: center;
        margin-top: 10px;
    }
}

@keyframes showDay
{
  0% { opacity: 0 }
  100% { opacity: 1 }
}


.days-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    color: rgb(243, 243, 243);
    transition: 100ms;
    &:hover {
        transform: scale(1.009);
        box-shadow: 2px 2px 5px 2px rgb(136, 136, 136);
    }
    h3 {
        font-weight: 400;
        font-size: 23px;
    }
    cursor: pointer;
}

.toggle {
    display: flex;
    align-items: center;
    flex-direction: column;
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em 2em;

    }
}


.todo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.form-days {
    width: 50%;
    padding: 5em 2em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    justify-content: space-around;
}

.untoggle {
    display: none;
    padding-left: 10%;
}


.month-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    h3 {
        text-align: center;
    }
}

.column {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
}

.head {
    border: $border-nav;
    background: $primary-color;
    color: white;
}

