@import './variables.scss';

form {
    width: 80% !important;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    align-self: center;
    flex-direction: column;
    border: $border-nav;
    padding: 9em 2em;
    margin-right: -10px !important;
    border-radius: $input-form-radius;
    button {
        margin: 0 auto !important;
        width: 40%;
        min-width: 180px;
        font-size: 16px;
        max-width: 200px;
      
    }
    div {
        margin-top: $vertical-padding;
    }
    label {
        margin-right: $horizontal-padding;
    }
    input {
        width: 80%;
        border-radius: $input-form-radius;
        border: $border-nav;
    }
}