@import "variables";



.nav {
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-bottom: $border-nav;
    margin: 0 !important;
}

.box {
    margin: $vertical-padding;
    div {
        margin-left: 40px;
        display: inline-flex;
        margin: ($vertical-padding - 0.25em) $horizontal-padding;
    }
}

h2 {
    margin-left: $vertical-padding;
}