$horizontal-padding: 0.5em;
$vertical-padding: 1em;
$primary-color: rgb(105, 156, 239);
$secondary-color: #f7f7f7;
$container-padding: 3em 3em;
$col-margin-vertical: 2em;
$col-margin-horizontal: 1em;
$border-nav: 1px solid rgba(0, 0, 0, 0.2);
$font-size-large: 1.4em;
$font-size-medium: 1.1em;
$font-size-small: 0.9em;
$button-padding: 1em 2em;
$button-padding-small: 15px 10px;
