$horizontal-padding: 0.5em;
$vertical-padding: 1em;
$primary-color: rgb(105, 156, 239);
$secondary-color: #f7f7f7;
$container-padding: 3em 3em;
$col-margin-vertical: 2em;
$col-margin-horizontal: 1em;
$border-nav: 1px solid rgba(0, 0, 0, 0.2);
$paragraph-size: 1.5em;
