$horizontal-padding: 0.5em;
$vertical-padding: 1em;
$primary-color: rgba(57, 126, 236, 0.75);
$secondary-color: rgba(167, 163, 163, 0.103);
$container-padding: 3em 3em;
$col-margin-vertical: 2em;
$col-margin-horizontal: 1em;
